@charset "UTF-8";

/* 반응형, 모바일에서 모든요소의 패딩,선을 크기안에 포함시킴 */
*,:before,:after {box-sizing: border-box;}

/* 브라우저 기본크기 16px -> 10px */
html{font-size: 62.5%;}

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/* html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

/* button태그에 손모양 커서 */
button {cursor: pointer;}
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top;}

/* 모바일, 반응형에서 이미지의 원본크기보다 커지지않게함 */
img {max-width: 100%;}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
strong {font-weight: normal;}
/* 벤더프리픽스: 브라우저 제조사를 의미 */
a { text-decoration: none; color: #333; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe {overflow: hidden; border: 0}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
/* h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%} */
h1,h2,h3,h4,h5,h6 {font-weight: 300; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
/* border-radius:0 -> iOS에서 테두리가 둥글게 나오므로 빼줌 */
/* -webkit-appearance: none -> iOS에서 폼요소에 내부그림자가 나오므로 빼줌 */
input, select, textarea, button { vertical-align: middle; margin: 0; padding: 0; border-radius: 0; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1); }

/* 폼요소 포커스시 아웃라인 안보이게 */
/* input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
} */
/* textarea 리사이즈기능 빼기 */
textarea {resize: none}
/* 모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { -webkit-text-size-adjust: none }


/*********************** 공통스타일 *************************/
/* body에 높이가 없어도 hidden이 걸리면 스크롤바가 사라짐 */
/* iOS 사파리는 페이지최상단에서만 hidden이 걸리므로 페이지 위로 올라오게함 */
body.on {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

body,input,button,select,textarea,table {
    font-family: 'Noto Sans KR', sans-serif;    
    font-size: 1.6rem;
    color:#222;
    /* background:linear-gradient(45deg,#CAB8FF,#B5DEFF,#C1FFD7,#FCFFA6);; */
}

/* Skip Navgation */
#skip_navi {position: relative;}
#skip_navi a { position: absolute; left: 0; top: -999px; width: 100%; padding: 10px 0; background: #fff; z-index: 99999; text-align: center }
#skip_navi a:hover, #skip_navi a:active, #skip_navi a:focus {top:0}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend, caption, .blind { position: absolute; overflow: hidden; border:5px solid red; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px }

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

.point {
    color: #CAB8FF;
}





#wrap { 
    min-width: 320px; 
}

#header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}

#header .inner {
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo a {
    display: block;
    width: 200px;
    height: 120px;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat 50% 50% / 200px
}

#header .gnb {
    display: flex;
}

#header .gnb li {
    padding: 0 40px;
}

#header .gnb li.active a {
    color: #CAB8FF;
}


#header .gnb li a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    line-height: 100px;
    font-size: 2.5rem;
    font-weight: 700;
}

#header .btn_open {
    display: none;
}

#header .btn_contact {
    display: none;
}

#header .gnb_area {
    display: none;
}

/* ================== 공통 ===================*/
/* 섹션 이너 */
.section .inner {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    text-align: center;
}

/* 메인제목 */
.main_tit {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 140px;
    position: relative;
    z-index: 10;
    display: inline-block;
}

/* 메인제목 밑줄 */
.main_tit::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: calc(100% + 10px);
    height: 10px;
    background: #fcffa6;
    z-index: -1;
}



/* ---------- intro ------------ */
.intro .txt_wrap {
    font-size: 7.5rem;
    font-weight: 700;
}
.intro .typing_txt {display: none;}

.intro .typing ul li{
  display:block;
  position: relative;
}

.intro .typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.5s; 
  animation-iteration-count: infinite; 
} 

@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}


/* -------------- portfolio ----------------*/
.portfolio {
    background-color: rgba(202,184,255,0.7);
}

.portfolio .slide_inner {
    max-width: 1260px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 150px 80px;
    justify-content: space-between;
    align-items: center;
}

.portfolio .fp-slidesNav {
    left: 50% !important;
}

.portfolio .img_wrap {
    width: 50%;
    height: 530px;
    border-radius: 15px;
    overflow: hidden;
}

.portfolio .site_info {
    width: 45%;
}

.portfolio .site_info .num {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}

.portfolio .site_info h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 10px;
}

.portfolio .site_info dt {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    color: #555;
}

.portfolio .site_info dd {
    margin-top: 10px;
}

.portfolio .site_info dd p {
    margin-top: 5px;
}

.portfolio .site_info .btn_page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio .site_info .btn_page a {
    text-align: center;
    width: 130px;
    line-height: 46px;
    border: 2px solid #222;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0 20px 10px 0;    
    padding: 0 10px;
}

.portfolio .fp-controlArrow.fp-prev {
    left: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background: url(../images/arrow_left.png) no-repeat 50% 50% / 80px
}
.portfolio .fp-controlArrow.fp-next {
    right: 15px;
    width: 60px;
    height: 60px;
    border: none;
    background: url(../images/arrow_right.png) no-repeat 50% 50% / 80px
}

/* .portfolio .fp-slidesNav.bottom {
    bottom: 180px;
} */

/* -------------- about ----------------*/
.about {
    background-color: rgba(193,255,215,0.7);

}
.about .about_box {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
    padding: 50px 30px;
}

.about .about_box li {
    width: calc(100% / 5);
    text-align: center;
}

.about .about_box img {
    width: 120px;
    height: 120px;
}

.about .about_box strong {
    margin-top: 40px;
    display: block;
    font-size: 2rem;
    font-weight: 700;
}

.about .about_box p {
    margin-top: 10px;
    display: block;
    color: #333;
    line-height: 1.6;
}





/* -------------- skills ----------------*/
.skills {
    background-color: rgba(181,222,255,0.7);
}

.skills .skill_box {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
}

.skills .skill_box li {
    padding: 50px 30px;
    text-align: center;
}

.skills .skill_box strong {
    display: block;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.skills .skill_box p {
    margin-top: 15px;
    line-height: 1.6;
    color: #555;
}

/* -------------- contact ----------------*/
.contact {
    background-color: rgba(246, 198, 234,0.7);
}

.contact .contact_list {
    margin-top: 70px;
}

.contact .contact_list li {
    margin-bottom: 40px;
}

.contact .contact_list li:last-child {
    margin: 0;
}
 
.contact .contact_list i {
    display: inline-block;
    font-size: 3rem;
}

.contact .contact_list a {
    font-size: 3rem;
    margin-left: 10px;
}

.contact .contact_list img {
    width: 35px;
    height: 30px;
}

.contact .goodbye {
    padding:70px 0;    
    font-size: 2.5rem;
    font-weight: 700;
}

#footer {
    background-color: rgba(246, 198, 234,0.7);
}

#footer .copyright {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}
























/* 태블릿 분기점 */
@media (max-width:1200px) {
    #header { height: 60px; }
    #header .logo a {
        height:60px;
        background-size:100px;

    }
    #header .gnb_wrap {display: none;}
    #header .btn_open {
        display: block;
        line-height: 60px;
        font-size: 3.5rem;
    }
    #header .btn_contact {
        display: block;
        line-height: 60px;
        font-size: 3rem;
    }
    #header .gnb_area {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
        background: #000;
        transform: translateX(-100%);
        transition: all 1s;
        overflow: auto;
    }
    
    #header .gnb_area.on {
        transform: translateX(0);
    }

    #header .gnb_area .m_gnb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        padding: 0 30px;
    }

    #header .gnb_area .m_gnb li {
        padding: 30px 0 30px;
    }


    #header .gnb_area .m_gnb a {
        display: block;
        text-align: center;
        color: #fff;
        font-size: 4rem;
        font-weight: 700;    
        font-family: 'Montserrat', sans-serif;
    }

    #header .gnb_area .btn_close {
        position: absolute;
        right: 30px;
        color: #fff;
        font-size: 4rem;
    }

    .intro .txt_wrap {
        font-size: 5.8rem;
    }
    
    .portfolio .slide_inner {
        padding: 100px 30px;
    }

    .portfolio .fp-controlArrow {
        display: none;
    }

    .about .about_box li {
        width: calc(100% / 3) ;
        padding-top: 30px;

    }

    .main_tit {
        padding-top: 100px;
    }

    .about .about_box {
        margin-top: 50px;
    }

    .skills .skill_box li {
        width: calc(100% / 2 );
    }
}

/* hover 효과 (pc) */
@media (min-width:1201px) {
    .portfolio .img_wrap:hover img {
    transition: all 10s;
    transform: translateY(-46%);
    }

    .portfolio .img_wrap img {
        transition: all 10s;
    }

    .portfolio .slide02 .img_wrap:hover img {
        transform: translateY(-84%);
    }

    .portfolio .slide03 .img_wrap:hover img {
        transform: translateY(-69%);
    }

    .portfolio .site_info .btn_page a:hover {
        background: #fff;
    }

}




/* 모바일 분기점 */
@media (max-width:767px) {
    .section .inner {
        padding: 70px 30px;
    }
    
    .main_tit {
        padding-top: 0;
        font-size: 3rem;
    }

    .main_tit::after {
        bottom: 5px;
    }

    .intro {
        height: 560px;
    }

    .intro .txt_wrap {
        padding: 80px 0 80px;
        font-size: 4rem;
    }

    .intro .typing li {
        width: 260px;
        margin: 0 auto;
    }

    .intro .typing li:first-child {
        padding-bottom: 25px;
    }

    .intro .typing li:last-child {
        line-height: 2.1;
    }
    
    .intro .typing ul li.on {
        animation: none;
    }

    .portfolio .slide_inner {
        padding: 70px 30px 0;
        display: block;
    }

    .portfolio .slide03 .slide_inner {
        padding-bottom: 70px;
    }


    .portfolio .img_wrap {
        width: 100%;
        height: 140px;
    }

    .portfolio .site_info {
        margin-top: 30px;
        width: 100%;
    }

    .portfolio .site_info .num {
        font-size: 2.5rem;
    }

    .portfolio .site_info h3 {
        font-size: 2rem;
    }

    .about .about_box {
        margin-top: 30px;
        padding: 0 30px;
    }

    .about .about_box li {
        width: 100%;
    }

    .skills .skill_box {
        margin-top: 30px;
    }

    .skills .skill_box li {
        padding: 30px 30px;
        width: 100%;
    }

    .contact .contact_list {
        margin-top: 30px;
    }

    .contact .contact_list li {
        margin-top: 20px;
    }

    .contact .contact_list i {
        font-size: 2rem;
    }

    .contact .contact_list a {
        font-size: 2rem;
        letter-spacing: -0.05em;
    }

    .contact .contact_list img {
        width: 25px;
        height: 20px;
    }

    .contact .goodbye {
        padding: 30px 0;
    }

    #footer .copyright {
        font-size: 1.6rem;
    }
}






